//  To customize colors using material design, 
//  - Use https://material-foundation.github.io/material-theme-builder/ to create a theme.
//    - Add three extra colors when creating the theme. one green, one blue, and one yellow/orange. Title these colors
//      "Success", "Info", and "Warning". These will be exported from material builder with prefix "--md-extended-color-"
// 
// Once custom theme is downloaded:
//  - EITHER copy and paste the variables below and change the prefix from --md-sys to match. 
//  - OR save downloaded files and use in html.

$light__primary: rgb(52 97 141);
$light__surface-tint: rgb(52 97 141);
$light__on-primary: rgb(255 255 255);
$light__primary-container: rgb(208 228 255);
$light__on-primary-container: rgb(0 29 53);
$light__secondary: rgb(82 95 112);
$light__on-secondary: rgb(255 255 255);
$light__secondary-container: rgb(214 228 247);
$light__on-secondary-container: rgb(15 29 42);
$light__tertiary: rgb(106 87 121);
$light__on-tertiary: rgb(255 255 255);
$light__tertiary-container: rgb(241 218 255);
$light__on-tertiary-container: rgb(36 20 50);
$light__error: rgb(186 26 26);
$light__on-error: rgb(255 255 255);
$light__error-container: rgb(255 218 214);
$light__on-error-container: rgb(65 0 2);
$light__background: rgb(248 249 255);
$light__on-background: rgb(25 28 32);
$light__surface: rgb(248 249 255);
$light__on-surface: rgb(25 28 32);
$light__surface-variant: rgb(223 227 235);
$light__on-surface-variant: rgb(66 71 78);
$light__outline: rgb(115 119 127);
$light__outline-variant: rgb(194 199 207);
$light__shadow: rgb(0 0 0);
$light__scrim: rgb(0 0 0);
$light__inverse-surface: rgb(45 49 53);
$light__inverse-on-surface: rgb(239 240 247);
$light__inverse-primary: rgb(159 202 252);
$light__primary-fixed: rgb(208 228 255);
$light__on-primary-fixed: rgb(0 29 53);
$light__primary-fixed-dim: rgb(159 202 252);
$light__on-primary-fixed-variant: rgb(22 73 116);
$light__secondary-fixed: rgb(214 228 247);
$light__on-secondary-fixed: rgb(15 29 42);
$light__secondary-fixed-dim: rgb(186 200 219);
$light__on-secondary-fixed-variant: rgb(59 72 87);
$light__tertiary-fixed: rgb(241 218 255);
$light__on-tertiary-fixed: rgb(36 20 50);
$light__tertiary-fixed-dim: rgb(213 190 229);
$light__on-tertiary-fixed-variant: rgb(81 64 96);
$light__surface-dim: rgb(216 218 224);
$light__surface-bright: rgb(248 249 255);
$light__surface-container-lowest: rgb(255 255 255);
$light__surface-container-low: rgb(242 243 249);
$light__surface-container: rgb(236 238 244);
$light__surface-container-high: rgb(230 232 238);
$light__surface-container-highest: rgb(225 226 232);
$light__success-color: rgb(51 105 64);
$light__success-on-color: rgb(255 255 255);
$light__success-color-container: rgb(181 241 188);
$light__success-on-color-container: rgb(0 33 11);
$light__info-color: rgb(77 92 146);
$light__info-on-color: rgb(255 255 255);
$light__info-color-container: rgb(220 225 255);
$light__info-on-color-container: rgb(3 23 75);
$light__warning-color: rgb(115 92 12);
$light__warning-on-color: rgb(255 255 255);
$light__warning-color-container: rgb(255 224 139);
$light__warning-on-color-container: rgb(36 26 0);

$dark__primary: rgb(159 202 252);
$dark__surface-tint: rgb(159 202 252);
$dark__on-primary: rgb(0 50 87);
$dark__primary-container: rgb(22 73 116);
$dark__on-primary-container: rgb(208 228 255);
$dark__secondary: rgb(186 200 219);
$dark__on-secondary: rgb(37 49 64);
$dark__secondary-container: rgb(59 72 87);
$dark__on-secondary-container: rgb(214 228 247);
$dark__tertiary: rgb(213 190 229);
$dark__on-tertiary: rgb(58 41 72);
$dark__tertiary-container: rgb(81 64 96);
$dark__on-tertiary-container: rgb(241 218 255);
$dark__error: rgb(255 180 171);
$dark__on-error: rgb(105 0 5);
$dark__error-container: rgb(147 0 10);
$dark__on-error-container: rgb(255 218 214);
$dark__background: rgb(16 20 24);
$dark__on-background: rgb(225 226 232);
$dark__surface: rgb(16 20 24);
$dark__on-surface: rgb(225 226 232);
$dark__surface-variant: rgb(66 71 78);
$dark__on-surface-variant: rgb(194 199 207);
$dark__outline: rgb(140 145 153);
$dark__outline-variant: rgb(66 71 78);
$dark__shadow: rgb(0 0 0);
$dark__scrim: rgb(0 0 0);
$dark__inverse-surface: rgb(225 226 232);
$dark__inverse-on-surface: rgb(45 49 53);
$dark__inverse-primary: rgb(52 97 141);
$dark__primary-fixed: rgb(208 228 255);
$dark__on-primary-fixed: rgb(0 29 53);
$dark__primary-fixed-dim: rgb(159 202 252);
$dark__on-primary-fixed-variant: rgb(22 73 116);
$dark__secondary-fixed: rgb(214 228 247);
$dark__on-secondary-fixed: rgb(15 28 42);
$dark__secondary-fixed-dim: rgb(186 200 219);
$dark__on-secondary-fixed-variant: rgb(59 72 87);
$dark__tertiary-fixed: rgb(241 218 255);
$dark__on-tertiary-fixed: rgb(36 20 50);
$dark__tertiary-fixed-dim: rgb(213 190 229);
$dark__on-tertiary-fixed-variant: rgb(81 64 96);
$dark__surface-dim: rgb(16 20 24);
$dark__surface-bright: rgb(54 57 62);
$dark__surface-container-lowest: rgb(11 14 19);
$dark__surface-container-low: rgb(25 28 32);
$dark__surface-container: rgb(29 32 36);
$dark__surface-container-high: rgb(39 42 47);
$dark__surface-container-highest: rgb(50 53 58);
$dark__success-color: rgb(154 212 162);
$dark__success-on-color: rgb(0 57 23);
$dark__success-color-container: rgb(25 81 42);
$dark__success-on-color-container: rgb(181 241 188);
$dark__info-color: rgb(182 196 255);
$dark__info-on-color: rgb(29 45 97);
$dark__info-color-container: rgb(53 68 121);
$dark__info-on-color-container: rgb(220 225 255);
$dark__warning-color: rgb(227 196 109);
$dark__warning-on-color: rgb(61 47 0);
$dark__warning-color-container: rgb(88 68 0);
$dark__warning-on-color-container: rgb(255 224 139);
