// Semantic Containers
@use "../abstracts" as *;

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main" 
    "footer";
  align-items: start;
  min-height: 100vh;

  >header {
    grid-area: header;
    z-index: 100;
  }

  >main {
    grid-area: main;
  }

  >footer {
    grid-area: footer;
  }
}


@if $sticky-header ==true {
  body>header {
    position: sticky;
    top: 0;
  }
}
