@use "../abstracts" as *;

// Inheriting elements will only be visible when screen is <= $breakpoint-size
@each $breakpoint-name, $breakpoint-size in $breakpoints {

  .show-#{$breakpoint-name} {
    visibility: hidden;
    transform: scale(0);
    position: absolute;
    top: 0;
  }

  @media screen and (max-width: $breakpoint-size) {
    .show-#{$breakpoint-name} {
      visibility: visible;
      transform: scale(1);
      position: relative;
    }
  }

}

.show {
  visibility: visible;
  transform: scale(1);
  position: relative;
}

.hide {
  visibility: hidden;
  transform: scale(0);
  position: absolute;
  top: 0;
}
