.p-top__xxs {
    padding-top: var(--xxs) !important;
}

.p-top__xs {
    padding-top: var(--xs) !important;
}

.p-top__sm {
    padding-top: var(--sm) !important;
}

.p-top__md {
    padding-top: var(--md) !important;
}

.p-top__lg {
    padding-top: var(--lg) !important;
}

.p-top__xl {
    padding-top: var(--xl) !important;
}

.p-top__xxl {
    padding-top: var(--xxl) !important;
}

.p-right__xxs {
    padding-right: var(--xxs) !important;
}

.p-right__xs {
    padding-right: var(--xs) !important;
}

.p-right__sm {
    padding-right: var(--sm) !important;
}

.p-right__md {
    padding-right: var(--md) !important;
}

.p-right__lg {
    padding-right: var(--lg) !important;
}

.p-right__xl {
    padding-right: var(--xl) !important;
}

.p-right__xxl {
    padding-right: var(--xxl) !important;
}

.p-bottom__xxs {
    padding-bottom: var(--xxs) !important;
}

.p-bottom__xs {
    padding-bottom: var(--xs) !important;
}

.p-bottom__sm {
    padding-bottom: var(--sm) !important;
}

.p-bottom__md {
    padding-bottom: var(--md) !important;
}

.p-bottom__lg {
    padding-bottom: var(--lg) !important;
}

.p-bottom__xl {
    padding-bottom: var(--xl) !important;
}

.p-bottom__xxl {
    padding-bottom: var(--xxl) !important;
}

.p-left__xxs {
    padding-left: var(--xxs) !important;
}

.p-left__xs {
    padding-left: var(--xs) !important;
}

.p-left__sm {
    padding-left: var(--sm) !important;
}

.p-left__md {
    padding-left: var(--md) !important;
}

.p-left__lg {
    padding-left: var(--lg) !important;
}

.p-left__xl {
    padding-left: var(--xl) !important;
}

.p-left__xxl {
    padding-left: var(--xxl) !important;
}


.m-top__xxs {
    margin-top: var(--xxs) !important;
}

.m-top__xs {
    margin-top: var(--xs) !important;
}

.m-top__sm {
    margin-top: var(--sm) !important;
}

.m-top__md {
    margin-top: var(--md) !important;
}

.m-top__lg {
    margin-top: var(--lg) !important;
}

.m-top__xl {
    margin-top: var(--xl) !important;
}

.m-top__xxl {
    margin-top: var(--xxl) !important;
}

.m-right__xxs {
    margin-right: var(--xxs) !important;
}

.m-right__xs {
    margin-right: var(--xs) !important;
}

.m-right__sm {
    margin-right: var(--sm) !important;
}

.m-right__md {
    margin-right: var(--md) !important;
}

.m-right__lg {
    margin-right: var(--lg) !important;
}

.m-right__xl {
    margin-right: var(--xl) !important;
}

.m-right__xxl {
    margin-right: var(--xxl) !important;
}

.m-bottom__xxs {
    margin-bottom: var(--xxs) !important;
}

.m-bottom__xs {
    margin-bottom: var(--xs) !important;
}

.m-bottom__sm {
    margin-bottom: var(--sm) !important;
}

.m-bottom__md {
    margin-bottom: var(--md) !important;
}

.m-bottom__lg {
    margin-bottom: var(--lg) !important;
}

.m-bottom__xl {
    margin-bottom: var(--xl) !important;
}

.m-bottom__xxl {
    margin-bottom: var(--xxl) !important;
}

.m-left__xxs {
    margin-left: var(--xxs) !important;
}

.m-left__xs {
    margin-left: var(--xs) !important;
}

.m-left__sm {
    margin-left: var(--sm) !important;
}

.m-left__md {
    margin-left: var(--md) !important;
}

.m-left__lg {
    margin-left: var(--lg) !important;
}

.m-left__xl {
    margin-left: var(--xl) !important;
}

.m-left__xxl {
    margin-left: var(--xxl) !important;
}

