.p-top__xxs {
    padding-top: var(--xxs);
}

.p-top__xs {
    padding-top: var(--xs);
}

.p-top__sm {
    padding-top: var(--sm);
}

.p-top__md {
    padding-top: var(--md);
}

.p-top__lg {
    padding-top: var(--lg);
}

.p-top__xl {
    padding-top: var(--xl);
}

.p-top__xxl {
    padding-top: var(--xxl);
}

.p-right__xxs {
    padding-right: var(--xxs);
}

.p-right__xs {
    padding-right: var(--xs);
}

.p-right__sm {
    padding-right: var(--sm);
}

.p-right__md {
    padding-right: var(--md);
}

.p-right__lg {
    padding-right: var(--lg);
}

.p-right__xl {
    padding-right: var(--xl);
}

.p-right__xxl {
    padding-right: var(--xxl);
}

.p-bottom__xxs {
    padding-bottom: var(--xxs);
}

.p-bottom__xs {
    padding-bottom: var(--xs);
}

.p-bottom__sm {
    padding-bottom: var(--sm);
}

.p-bottom__md {
    padding-bottom: var(--md);
}

.p-bottom__lg {
    padding-bottom: var(--lg);
}

.p-bottom__xl {
    padding-bottom: var(--xl);
}

.p-bottom__xxl {
    padding-bottom: var(--xxl);
}

.p-left__xxs {
    padding-left: var(--xxs);
}

.p-left__xs {
    padding-left: var(--xs);
}

.p-left__sm {
    padding-left: var(--sm);
}

.p-left__md {
    padding-left: var(--md);
}

.p-left__lg {
    padding-left: var(--lg);
}

.p-left__xl {
    padding-left: var(--xl);
}

.p-left__xxl {
    padding-left: var(--xxl);
}


.m-top__xxs {
    margin-top: var(--xxs);
}

.m-top__xs {
    margin-top: var(--xs);
}

.m-top__sm {
    margin-top: var(--sm);
}

.m-top__md {
    margin-top: var(--md);
}

.m-top__lg {
    margin-top: var(--lg);
}

.m-top__xl {
    margin-top: var(--xl);
}

.m-top__xxl {
    margin-top: var(--xxl);
}

.m-right__xxs {
    margin-right: var(--xxs);
}

.m-right__xs {
    margin-right: var(--xs);
}

.m-right__sm {
    margin-right: var(--sm);
}

.m-right__md {
    margin-right: var(--md);
}

.m-right__lg {
    margin-right: var(--lg);
}

.m-right__xl {
    margin-right: var(--xl);
}

.m-right__xxl {
    margin-right: var(--xxl);
}

.m-bottom__xxs {
    margin-bottom: var(--xxs);
}

.m-bottom__xs {
    margin-bottom: var(--xs);
}

.m-bottom__sm {
    margin-bottom: var(--sm);
}

.m-bottom__md {
    margin-bottom: var(--md);
}

.m-bottom__lg {
    margin-bottom: var(--lg);
}

.m-bottom__xl {
    margin-bottom: var(--xl);
}

.m-bottom__xxl {
    margin-bottom: var(--xxl);
}

.m-left__xxs {
    margin-left: var(--xxs);
}

.m-left__xs {
    margin-left: var(--xs);
}

.m-left__sm {
    margin-left: var(--sm);
}

.m-left__md {
    margin-left: var(--md);
}

.m-left__lg {
    margin-left: var(--lg);
}

.m-left__xl {
    margin-left: var(--xl);
}

.m-left__xxl {
    margin-left: var(--xxl);
}

