@use "../abstracts" as *;
@use "../base" as *;
@use "../utilities" as *;

$button-p: calc($icon-padding * 2 + $icon-border-width);

button {

  & {
    @include font($button-font-label);
    @include border-transparent;
    @include bg-primary;
    @include state-layer;
    font-weight: $button-font-weight;
    font-size: $button-font-size;
    border-radius: $global-border-radius;
    padding: 0 $button-p;
    min-height: calc($icon-height + $icon-border-width * 2);
    min-width: calc($icon-height + $icon-border-width * 2);
    align-self: center; // prevent streching when inside a div
  }

  // Utilities
  &.border {
    @include border;
  }

  &.text {
    @include bg-transparent;
  }

  &.large {
    font-size: calc($button-font-size * $halfstep);
  }

  &:has(>.data-icon) {
    padding-left: 0;
    padding-right: 0;
  }
}

// Button Icon Padding
button[data-icon] {

  &::before {
    padding: $icon-padding;
  }

  &[data-placement="top"],
  &[data-placement="bottom"] {
    padding: $button-p calc(2 * $button-p);
  }

  &[data-placement="bottom"] {
    padding-bottom: 0;
  }

  &[data-placement="top"] {
    padding-top: 0;
  }

  &:not([data-placement="right"], [data-placement="top"], [data-placement="bottom"]),
  &[data-placement="left"] {
    padding-left: 0;
  }

  &[data-placement="right"] {
    padding-right: 0;
  }
}
