@use "../abstracts" as *;
@use "../base" as *;
@use "../utilities" as *;


button {

  & {
    @include font($button-font-label);
    @include border-transparent;
    @include bg-primary;
    @include state-layer;
    font-weight: $button-font-weight;
    font-size: $button-font-size;
    border-radius: $global-border-radius;
    padding: 0 $icon-halfheight-em;
    align-self: center; // prevent streching when inside a div
    min-height: $icon-height-em;
    min-width: $icon-height-em;
  }

  // Utilities
  &.border {
    @include border;
  }

  &.text {
    @include bg-transparent;
  }

  &.large {
    font-size: calc($button-font-size * $halfstep);
  }

  &:has(>.data-icon) {
    padding-left: 0;
    padding-right: 0;
  }
}

// Button Icon Padding
button[data-icon] {
  padding: 0;

  &::before {
    padding: $icon-padding-em;
  }

  &[data-placement="top"] {
    padding: $icon-quarterheight-em $icon-height-em;
    padding-top: 0;
  }

  &[data-placement="bottom"] {
    padding: $icon-quarterheight-em $icon-height-em;
    padding-bottom: 0;
  }

  &:not([data-placement="right"], [data-placement="top"], [data-placement="bottom"]),
  &[data-placement="left"] {
    padding: 0 $icon-halfheight-em 0 0;
  }

  &[data-placement="right"] {
    padding: 0 0 0 $icon-halfheight-em;
  }
}
