@use "../abstracts" as *;
@use "../utilities" as *;
@use "../base" as *;

details {

  >summary {
    text-align: left;
    padding: 0;
    cursor: pointer;
    list-style: none;
    color: var(#{$color-prefix}-secondary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;

    &:after {
      @include icon-inline('keyboard_arrow_right');
      transition: transform $transition;
      margin-left: auto;
    }

    &:focus {
      color: var(#{$color-prefix}-primary);
    }
  }

  &[open]>summary:after {
    transform: rotate(90deg);
  }

  >p {
    padding-bottom: var(--sm);
    padding-top: var(--sm);
  }
}

select,
details[role="dropdown"] {
  @include font(body);
  @include border;
  @include border-radius;
  position: relative;
  transition: background-color $transition;
  background-color: var(--bg-color);
  padding: 0 var(--xs);
  min-width: -moz-fit-content;
  min-width: fit-content;
  min-height: $icon-height-em;
  color: var(#{$color-prefix}-secondary);

  &:focus {
    color: var(#{$color-prefix}-primary);
  }

  >summary {
    height: $icon-height-em;

    &:after {
      transform: rotate(90deg);
    }
  }

  &[open] {
    outline: $input-outline;
    background-color: $input-color-element-bg-focus;

    &>summary:after {
      transform: rotate(270deg);
    }

    // Enable touch anywhere to close dropdown
    &>summary::before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      overflow: auto;
    }
  }

  >article {
    position: absolute;
    left: 0;
    z-index: 10;
    min-width: 100%;
    margin-top: 0.5rem;
    box-shadow: $shadow-1;
  }

  >ol,
  >ul {
    @include border-radius;
    position: absolute;
    left: 0;
    list-style: none;
    width: 100%;
    min-width: -moz-fit-content;
    min-width: fit-content;
    z-index: 10;
    margin: 0;
    margin-top: 0.5rem;
    padding: var(--xs) 0;
    display: flex;
    flex-direction: column;
    background-color: $input-color-element-bg-focus;
    box-shadow: $shadow-1;

    >li {
      @include border-radius;
      @include state-layer;
      padding: var(--xs) var(--sm);
      margin-left: $wholestep-dec + em;
      margin-right: $wholestep-dec + em;
      white-space: nowrap;
    }
  }

  // Utilities
  &.text {
    @include border-transparent;
  }

}

summary::-webkit-details-marker {
  display: none
}

select {
  @include icon-bg-right($icon-chevron-down);
  background-size: $icon-font-size;
  -webkit-appearance: none;
  appearance: none;
  padding-inline-end: 2em;

  &:focus {
    outline: $input-outline;
  }
}

nav details:not([role="dropdown"]){
  margin-top: var(--sm);
  margin-left: var(--sm);
  background-color: transparent;

  ol,
  ul {
    margin-top: 0;
    margin-left: 0;
    list-style: none;
    @include border-left;

    li:not(:has(>details)) {
      padding: var(--xs) var(--sm);

      a {
        @include link(secondary);
      }
    }
  }
}
