@use "../abstracts" as *;
@use "../base" as *;
@use "../utilities" as *;

textarea,
label,
input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1;

  transition: background-color $transition;
}


[type="checkbox"],
[type="radio"] {
  -moz-appearance: none;
  appearance: none;
  width: 1.25em;
  height: 1.25em;
  margin-top: -.125em;
  margin-inline-end: var(--xs);
  vertical-align: middle;
  cursor: pointer;
  transition: background-color $transition;

  @include border-radius;
  @include border;
}

[type="radio"] {
  border-radius: $global-border-radius;
  position: relative;
}

[type="radio"]:checked::after {
  content: " ";
  position: absolute;
  right: 25%;
  top: 25%;
  background-color: $input-color-onsurface;
  height: 50%;
  width: 50%;
  border-radius: $global-border-radius;
  z-index: 2;
}


[type="checkbox"]:checked,
[type="checkbox"]:checked:active,
[type="checkbox"]:checked:focus,
[type="radio"]:checked,
[type="radio"]:checked:active,
[type="radio"]:checked:focus {
  background-color: $input-color-active;
  border: $input-border-active;
  @include icon-bg-center($icon-checkbox);
}

label[aria-disabled="true"],
[type="checkbox"]:disabled,
textarea:disabled,
[type="radio"]:disabled {
  filter: opacity(0.5);
}


[type="radio"]:checked,
[type="radio"]:checked:focus,
[type="radio"]:checked:active {
  background-size: 0.5em;
  border-radius: $global-border-radius;
}

[type="radio"]:focus,
[type="checkbox"]:focus {
  outline: $input-outline;
  border: $input-border-active;
}

legend {
  margin-bottom: var(--md);
}

fieldset {
  display: flex;
  flex-direction: row;
  margin-bottom: var(--lg);
}

label {
  position: relative;
}

label:has([type="radio"]),
label:has([type="checkbox"]) {
  margin-bottom: var(--sm);
}

label:not([type="radio"]),
label:not([type="checkbox"]) {
  margin-right: var(--md);
}

label:has(input[type="range"]) {
  margin-right: 0;
}

fieldset:has(label [type="radio"]),
fieldset:has(label [type="checkbox"]) {
  flex-direction: column;
}

[role="switch"] {
  transition: background-position $transition,
    background-color $transition;
  border: none !important;
  background-color: $input-color-active;
  width: 2.35em;
  height: 1.25em;
  margin-top: 0;
  margin-bottom: 0.125em;
  position: relative;
}

[role="switch"]::after {
  transition: left $transition;
  content: " ";
  position: absolute;
  background-color: $input-color-onsurface;
  border-radius: $global-border-radius;
  z-index: 2;

  height: 1em;
  width: 1em;
  top: 10%;
  left: 5.5%;
}

[role="switch"]:checked::after {
  left: 52.5%;
}

[role="switch"]:checked,
[role="switch"]:checked:active,
[role="switch"]:checked:focus,
[role="switch"] {
  background-color: $input-color-active;
  background-image: none;
  background-position: 90% 50%;
  background-repeat: no-repeat;
  background-size: 1em;
  border-radius: $global-border-radius;
}

[role="switch"]:active,
[role="switch"]:focus,
[role="switch"] {
  background-position: 10% 50%;
  background-color: $input-color-surface;
}

[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 7px;
  background-color: $input-color-surface;
  border-radius: $global-border-radius;
  border: none;
  box-shadow: none;
  display: flex;
  margin: var(--sm) 0 var(--lg) 0;
  opacity: 70%;
}

[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 25px;
  width: 25px;
  border-radius: $global-border-radius;
  background-color: $input-color-surface;
  cursor: pointer;
  border: $input-border-hidden;
  box-shadow: none;
  transition: transform $transition;
}

[type="range"]::-moz-range-thumb {
  height: 25px;
  width: 25px;
  border-radius: $global-border-radius;
  background-color: $input-color-surface;
  cursor: pointer;
  border: $input-border-hidden;
  box-shadow: none;
  transition: transform $transition;
}

[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.3);
  background-color: $input-color-active;
}

[type="range"]:active::-moz-range-thumb {
  transform: scale(1.3);
  background-color: $input-color-active;
}

[type="range"]:active,
[type="range"]:focus {
  background-color: $input-color-surface;
  opacity: 100%;
}

input :not([type="radio"]),
input :not([type="checkbox"]) {
  margin-bottom: var(--sm);
}

input[type="text"] {
  width: 100%;
  margin-bottom: var(--xs);
  margin-top: var(--md);
  padding: var(--sm);
  @include border;
  @include border-radius;
}

textarea {
  -webkit-appearance: none;
  appearance: none;
  resize: vertical;
  @include border-radius;
  border: $input-border;
  padding: var(--sm);
  width: 100%;
  min-height: 1em;
  color: $input-color-font;
  margin-bottom: var(--sm);
}

[type="text"]:not([aria-invalid]):focus,
textarea:focus {
  outline: $input-border-active;
  outline-color: $borderColor;
  background-color: $input-color-element-bg-focus;
}

[aria-invalid="true"]:focus,
[aria-invalid="true"]:active {
  background-color: $input-color-element-bg-focus;
  outline: $input-border-invalid;
}

[aria-invalid="false"]:focus,
[aria-invalid="false"]:active {
  background-color: $input-color-element-bg-focus;
  outline: $input-border-valid;
}

[aria-invalid="true"][aria-describedby]+small {
  color: var(--md-sys-color-error);
}

[aria-invalid="false"][aria-describedby]+small {
  color: var(--md-sys-color-success-color);
}

[aria-invalid="true"] {
  border-color: var(--md-sys-color-error) !important;
}

[aria-invalid="false"] {
  border-color: var(--md-sys-color-success-color) !important;
}
