@use "../abstracts" as *;

header:has(nav) {
  background-color: var(--bg-color);
  @include border-bottom;
}

nav {
  display: flex;
  overflow: visible;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;

  &:has(details[role="dropdown"]) {

    >ol,
    >ul {
      margin-top: var(--xxs);
      margin-bottom: var(--xxs);
    }
  }

  >ol,
  >ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-left: 0;
    gap: var(--md);

    >li {
      padding: var(--xxs);
      border-radius: $global-border-radius;
    }
  }
}

nav[role="menu"],
aside nav {
  flex-direction: column;
  justify-content: flex-start;

  ul {
    align-items: flex-start;
    flex-direction: column;
    gap: var(--xs);
  }

  &>details:last-child {
    padding-bottom: var(--xxl); // To see the last details on overflow
  }

  details>summary {
    font-weight: 700;

    &.hide-arrows:after {
      content: '';
    }

    &[disabled] {

      &:after {
        content: '';
      }

      pointer-events: none;

    }

  }
}
