@use "../abstracts" as *;
@use "../utilities" as *;

header:has(nav) {
  background-color: var(--bg-color);
  @include border-bottom;
}

nav {
  display: flex;
  overflow: visible;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;

  &:has(details[role="dropdown"]) {

    >ol,
    >ul {
      margin-top: var(--xxs);
      margin-bottom: var(--xxs);
    }
  }

  >ol,
  >ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-left: 0;
    gap: var(--xxs);

    >li {
      padding: var(--xxs);
      border-radius: $global-border-radius;
    }
  }
}

[role="menu"],
aside nav {
  flex-direction: column;
  justify-content: flex-start;

  ul {
    align-items: flex-start;
    flex-direction: column;
    gap: var(--xs);
  }

  &>details:last-child {
    padding-bottom: var(--xxl); // To see the last details on overflow
  }

  details>summary {
    font-weight: 700;
  }
}


[role="menu"] {
  height: 100vh;
  width: fit-content;
  overflow: auto;
  gap: var(--md);
}

nav[aria-label="breadcrumb"] {
  padding-top: 0;
  margin-bottom: var(--xl);
  opacity: 80%;

  ul {
    margin: var(--xxs);
  }

  li:not(:last-child)::after {
    @include icon-inline('chevron_right');
    opacity: 50%;
  }

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

}
