@use "../base" as *;
@use "../abstracts" as *;

table {
  margin: var(--md);
  text-align: left;
  @include font(body);

  >thead {
    @include border-bottom;
  }

  >tfoot {
    @include border-top;
  }

  tr {
    th {
      @include font-bold(label);
    }

    th[scope="col"] {
      padding-bottom: var(--sm);
    }

    th[scope="row"] {
      padding-right: var(--sm);
    }

    td {
      @include border-bottom;
      padding: var(--sm);
      padding-left: 0;
    }
  }
}

caption {
  caption-side: bottom;
  padding: var(--sm);
}
