@use "../abstracts" as *;
@use "sass:map";

@mixin link($link-type) {
  $color-map: map.get($link-colors, $link-type);
  color: map.get($color-map, default);

  &:hover {
    color: map.get($color-map, hover);
  }

  &:not([aria-current="false"])[aria-current] {
    color: map.get($color-map, current);
    font-weight: 650;
  }
}

@each $link-type, $color-map in $link-colors {
  .#{$link-type} {
    @include link($link-type);
  }
}

a {
  cursor: pointer;
  @include link($default-link-type);
  text-decoration: $default-link-text-decoration;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    text-decoration: underline;
  }
}
