@use "../theme" as *;
@use "../abstracts" as *;

@include theme;

:root {
  font-size: $fontSize;
  font-family: $fontFamilyMain;

  @include whole-spacing;

  /*Increments*/

  --wholestep: $wholestep;
  --halfstep: $halfstep;
  --quarterstep: $quarterstep;
  --eighthstep: $eighthstep;

  --wholestep-dec: $wholestep-dec;
  --halfstep-dec: $halfstep-dec;
  --quarterstep-dec: $quarterstep-dec;
  --eighthstep-dec: $eighthstep-dec;

  --lineHeightInEms: calc(1em * $wholestep);


  background-color: var(#{$color-prefix}-background);
  color: var(#{$color-prefix}-on-background);
  --state-color: var(#{$color-prefix}-on-background);
  --bg-color: var(#{$color-prefix}-background);

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
